<div class="container">
  <header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
      <%= link_to "Stravify", "#", id: "logo" %>
    </div>
  </header>
  <body>
  <div="container">
    <div="row">
      <div class="col-md-5 col-md-offset-1 front-page-text">
        <h2>Welcome to Stravify</h2>
        <p>Bacon ipsum dolor amet venison leberkas pork chop,
        sirloin pancetta kielbasa doner spare ribs boudin. Swine
        cow biltong t-bone, ball tip shoulder landjaeger kevin
        turkey ham hock jowl corned beef cupim kielbasa bresaola.
        Pork chop bresaola meatloaf andouille. Shank tri-tip beef
        venison, pastrami fatback filet mignon. Jowl ham hock cow
        tail, ham cupim jerky short loin boudin andouille bacon
        flank tongue pig turkey.</p>


        <p>Sausage brisket capicola ribeye. Ham hock boudin short
        ribs bresaola, tri-tip bacon leberkas. Cow ham corned beef
        capicola filet mignon spare ribs. Ribeye tenderloin jerky
        salami, kevin alcatra biltong shankle. Turducken
        prosciutto pastrami, tail flank drumstick landjaeger.
        Corned beef beef ribs jerky chicken short loin shankle
        spare ribs. Fatback tri-tip pancetta, tail jowl venison
        flank kevin short ribs.</p>
      </div>
      <div class="row">
        <div class="col-md-4 col-md-offset-1 log-in">
          <%= link_to image_tag("loginwithstrava.png"), "/auth/strava", class: "strava-button text-center img-responsive" %>
        </div>
      </div>
    </div>
  </div>
  </body>
</div>
