<div class="container">
  <header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
      <%= link_to "Stravify", "#", id: "logo" %>
    </div>
  </header>
  <body>
  <div="container">
    <div="row">
      <div class="col-md-2"></div>
      <div class="col-md-8 front-page-text text-center">
        <span class="welcome-text"><h1>Welcome to Stravify</h1></span>
        <span class="moar-data"><h2>Strava without the social.</h2></span>
        <%= link_to image_tag("loginwithstrava.png"), "/auth/strava", class: "strava-button text-center img-responsive" %>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
  </body>
</div>
