<div class="container">
  <header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
      <%= link_to "Stravify", "#", id: "logo" %>
    </div>
  </header>
  <body>
  <div="container">
    <div="row">
      <div class="col-md-6 col-md-offset-1 user-page-data">
        <%= image_tag "lastride.jpg", class: "user-data-img img-responsive" %>
      </div>
      <div class="col-md-3 col-md-offset-1 user-box">
        User Profile
        <%= image_tag "sadscott.jpg", class: "sad-scott img-responsive" %>
        <p> Sad Scott </p>
        <p> Current Mood: Sad</p>
        <p> Last Activity: 3 Days Ago</p>
        <p> Likes: Taylor Swift</p>
        <p> Dislikes: Hubstub</p>
      </div>
    </div>
  </div>
  </body>
</div>
